POSTGRES_HOST=192.168.0.5
POSTGRES_PORT=5432
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
API_HOST=192.168.0.6
API_PORT=8000
TG_TOKEN_BOT=5424991242:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0